html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

:root {
	--color-background: #ffffff;
	--color-font-secondary: #808080;
	--color-font: #1a1b1c;
	--color-header-font: #ffffff;
	--color-header: #1a1b1c;
	--color-primary: #3b97e2;
	--color-secondary: #ee463a;
	--color-dark-1: #00000010;
	--color-dark-2: #00000020;
	--color-dark-3: #00000040;
	--color-dark-4: #00000080;
	--color-light-2: #ffffff20;
	--duration: 0.25s;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-header-font);
}

body {
	color: var(--color-font);
	font-family: "Cantarell", sans-serif;
	font-size: 1rem;
	line-height: 2;
	margin: 0;
}

h1,
h2 {
	margin: 1rem 0;
}

svg {
	transition: fill var(--duration);
	height: 2rem;
	width: 2rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-list {
	display: flex;
}

.main-header {
	align-items: center;
	background-color: var(--color-header);
	display: flex;
	height: 4rem;
	justify-content: space-around;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.main-header-title {
	align-items: center;
	color: var(--color-header-font);
	display: flex;
	gap: 1rem;
	justify-content: center;
	text-decoration: none;
}

.main-header-title:hover img {
	animation: 4s linear infinite rotation;
}

.nav-button {
	--hover-color: var(--color-primary);
	align-items: center;
	color: var(--color-header-font);
	display: flex;
	gap: 1rem;
	justify-content: center;
	padding: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition:
		background-color var(--duration),
		color var(--duration);
}

.nav-button:hover {
	background-color: var(--color-light-2);
	color: var(--hover-color);
}

.nav-button svg {
	fill: var(--color-header-font);
}

.nav-button:hover svg {
	fill: var(--hover-color);
}

.nav-button::after {
	background-color: var(--hover-color);
	bottom: 0;
	color: var(--hover-color);
	content: "";
	height: 0.25rem;
	left: 50%;
	pointer-events: none;
	position: absolute;
	transform: translateX(-50%);
	transition:
		width var(--duration),
		transform var(--duration);
	width: 0;
}

.nav-button:hover::after {
	transform: translateX(-50%);
	width: 100%;
}

.nav-button.youtube {
	--hover-color: #ff0033;
}

.nav-button.twitch {
	--hover-color: #8d44f7;
}

.nav-button.discord {
	--hover-color: #5865f2;
}

.nav-button.rss {
	--hover-color: #ffa500;
}

.hover-tooltip {
	background-color: var(--color-header);
	border: 0.0625rem solid var(--hover-color);
	left: 100%;
	opacity: 0;
	padding: 0 0.5rem;
	pointer-events: none;
	position: absolute;
	transition: opacity var(--duration);
	width: max-content;
	z-index: 1;
}

.nav-button:hover .hover-tooltip {
	opacity: 1;
}

#nav-checkbox {
	display: none;
}

.nav-check {
	cursor: pointer;
	display: none;
	fill: var(--color-header-font);
}

.main {
	min-height: calc(100vh - 12rem);
	margin: 8rem auto 4rem;
	padding: 0 1rem;
	width: min(32% + 32rem, 100%);
}

.blog-anchor {
	text-decoration: none;
}

.blog-entry {
	color: var(--color-font);
	display: flex;
	margin: 1rem 0;
}

.blog-image-container {
	aspect-ratio: 16 / 9;
	position: relative;
	flex: 2;
	min-height: 9rem;
}

.blog-image {
	aspect-ratio: 16 / 9;
	display: block;
	object-fit: cover;
	width: 100%;
}

.blog-new {
	background-color: var(--color-secondary);
	color: var(--color-header-font);
	left: 1rem;
	padding: 0 1rem;
	position: absolute;
	top: 1rem;
}

.blog-metadata {
	flex: 4;
	padding: 1rem;
	position: relative;
}

.blog-entry:hover .blog-metadata {
	background-color: var(--color-dark-1);
}

.blog-tag {
	color: var(--color-primary);
	display: inline-block;
	font-weight: bold;
	text-transform: capitalize;
}

.blog-date {
	color: var(--color-font-secondary);
	float: right;
	font-style: italic;
}

.blog-title {
	margin: 0;
}

.blog-description {
	color: var(--color-font-secondary);
	margin: 0;
}

.share-url {
	background-color: var(--color-dark-1);
	padding: 0.25rem;
	user-select: all;
}

.icon-links {
	align-items: center;
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
}

.icon-link {
	color: var(--color-font);
	display: flex;
	font-weight: bold;
	text-decoration: none;
}

.icon-link svg {
	display: block;
}

.icon-link.share-url {
	color: var(--color-font-secondary);
	user-select: all;
}

.icon-link.facebook {
	fill: #3c5898;
}

.icon-link.twitter {
	fill: #1da1f2;
}

.icon-link.linked-in {
	fill: #0077b5;
}

.main-footer {
	align-items: center;
	background-color: var(--color-header);
	color: var(--color-header-font);
	display: flex;
	fill: var(--color-header-font);
	justify-content: space-around;
	padding: 0 1rem;
}

@media (max-width: 80rem) {
	.main-header {
		justify-content: space-between;
	}

	.main-header-nav {
		background-color: var(--color-header);
		margin-top: 4rem;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform var(--duration);
	}

	.main-header-nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#nav-checkbox:checked ~ .main-header-nav {
		transform: translateX(0);
	}

	.main-header-nav .hover-tooltip {
		left: unset;
		right: 100%;
	}

	.nav-check {
		display: flex;
	}

	.nav-check:hover svg {
		fill: var(--color-primary);
	}

	.nav-check.close {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.open {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.close {
		display: flex;
	}
}

@media (max-width: 40rem) {
	.main-header-nav {
		width: 100%;
	}

	.blog-entry {
		display: block;
	}

	.main-header-nav .hover-tooltip {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.main-footer {
		align-items: center;
		flex-direction: column;
		padding: 1rem 0;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
