.post-header {
	margin-bottom: 4rem;
}

.post-title {
	border-bottom: 0.0625rem #00000040 solid;
	font-size: 3rem;
}

.post-image {
	display: block;
	margin: auto;
	margin-top: 4rem;
	max-width: 100%;
	user-select: none;
}

.post-footer {
	margin-top: 4rem;
}

/* .markdown {} */

.markdown h1,
.markdown h2 {
	border-bottom: 0.0625rem #00000040 solid;
	text-decoration: none;
}

.markdown a {
	color: #0080ff;
	text-decoration: none;
}

.markdown a:hover {
	text-decoration: underline;
}

.markdown h1 a,
.markdown h2 a {
	color: #000000;
	text-decoration: none;
}

.markdown h1 a:hover,
.markdown h2 a:hover {
	text-decoration: underline;
}

.markdown img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.markdown code {
	font-family: "Fira Code", monospace;
}

.markdown > pre {
	background-color: #00000010;
	padding: 1rem;
}

.markdown code:not(pre code) {
	background-color: #00000010;
	padding: 0.25rem;
}

.codeblock {
	font-family: "Fira Code", monospace;
	margin: 1rem 0;
}

.codeblock-head {
	background-color: #00000080;
	color: #ffffff;
	text-align: center;
}

.codeblock-body {
	background-color: #00000010;
	display: flex;
	overflow: auto;
}

.codeblock-lines {
	color: #808080;
	min-width: 4rem;
	padding: 1rem;
	text-align: right;
	user-select: none;
}

.codeblock-src {
	flex-grow: 1;
	margin: 0;
	padding: 1rem 0;
}
