.post-header {
	margin-bottom: 4rem;
}

.post-title {
	border-bottom: 0.0625rem var(--color-dark-2) solid;
	font-size: 3rem;
}

.post-image {
	display: block;
	margin: auto;
	margin-top: 4rem;
	max-width: 100%;
	user-select: none;
}

.post-footer {
	margin-top: 4rem;
}

/* .markdown {} */

.markdown h1,
.markdown h2 {
	border-bottom: 0.0625rem var(--color-dark-2) solid;
	text-decoration: none;
}

.markdown a {
	color: var(--color-primary);
	text-decoration: none;
}

.markdown a:hover {
	text-decoration: underline;
}

.markdown h1 a,
.markdown h2 a {
	color: inherit;
	text-decoration: none;
}

.markdown h1 a:hover,
.markdown h2 a:hover {
	text-decoration: underline;
}

.markdown img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.markdown code {
	font-family: "Fira Code", monospace;
}

.markdown > pre {
	background-color: var(--color-dark-1);
	padding: 1rem;
}

.markdown code:not(pre code) {
	background-color: var(--color-dark-1);
	padding: 0.25rem;
}

.codeblock {
	font-family: "Fira Code", monospace;
	margin: 1rem 0;
}

.codeblock-head {
	background-color: var(--color-dark-4);
	color: #ffffff;
	text-align: center;
}

.codeblock-body {
	background-color: var(--color-dark-1);
	display: flex;
	overflow: auto;
}

.codeblock-lines {
	color: var(--color-font-secondary);
	min-width: 4rem;
	padding: 1rem;
	text-align: right;
	user-select: none;
}

.codeblock-src {
	flex-grow: 1;
	margin: 0;
	padding: 1rem 0;
}

blockquote {
	--alert-color: var(--color-font-secondary);
	border-left: var(--alert-color) solid 0.25rem;
	padding: 0 1rem;
	margin: 1rem 0;
}

.alert {
	fill: var(--alert-color);
}

.alert-title {
	align-items: center;
	color: var(--alert-color);
	display: flex;
	font-weight: bold;
	gap: 0.5rem;
	user-select: none;
}

.alert-icon {
	height: 1rem;
	width: 1rem;
}

.alert.alert-note {
	--alert-color: #3aa6e4;
}

.alert.alert-tip {
	--alert-color: #23a74f;
}

.alert.alert-important {
	--alert-color: #a457e2;
}

.alert.alert-warning {
	--alert-color: #e9af45;
}

.alert.alert-caution {
	--alert-color: #e65147;
}
